.demo-input {
  background: #eee;
  border: 4px solid #aaa;
  font-size: 4rem;
  padding: 1rem;
  -webkit-transition: border .2s ease-out, background .4s ease-out;
  transition: border .2s ease-out, background .4s ease-out;
}

.demo-input:focus {
  background: #fff;
  border: 4px solid #3991AE;
}

.demo-input.invalid {
  border: 4px solid red;
}

.demo-input.valid {
  border: 4px solid green;
}
