.demo-input {
  background: #eee;
  border: 4px solid #aaa;
  font-size: 4rem;
  padding: 1rem;
  -webkit-transition: background .4s,
              border .2s,
              -webkit-transform .4s cubic-bezier(.85,-0.4,.29,1.44);
  transition: background .4s,
              border .2s,
              -webkit-transform .4s cubic-bezier(.85,-0.4,.29,1.44);
  transition: background .4s,
              border .2s,
              transform .4s cubic-bezier(.85,-0.4,.29,1.44);
  transition: background .4s,
              border .2s,
              transform .4s cubic-bezier(.85,-0.4,.29,1.44),
              -webkit-transform .4s cubic-bezier(.85,-0.4,.29,1.44);
}

.demo-input:focus {
  background: #fff;
  border: 4px solid #3991AE;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
