.demo {
  margin: 0 auto;
  max-width: 80rem;
}

.content {
  border-radius: 1rem;
  margin: 2rem;
  padding: 4rem 2rem;
  text-align: left;
  -webkit-transform: translateZ(1rem);
          transform: translateZ(1rem);
}

.content p {
  color: #222;
  font-size: 2rem;
}

.bg {
  -webkit-animation: tilt 5s ease-in-out infinite;
          animation: tilt 5s ease-in-out infinite;
  background: rgba(255,255,255,0.8);
  height: 200vh;
  left: -50%;
  position: absolute;
  top: 50%;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  width: 200vw;
}

@-webkit-keyframes tilt {
  0% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  50% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  100% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
}

@keyframes tilt {
  0% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  50% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  100% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
}
