.demo {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: left-to-right;
          animation-name: left-to-right;
  background: #3991AE;
  border-radius: 50%;
  height: 8rem;
  margin: 2rem 0;
  width: 8rem;
}

@-webkit-keyframes left-to-right {
  0%, 10% {
    -webkit-transform: none;
            transform: none;
  }
  45%, 55% {
    -webkit-transform: translateX(76rem);
            transform: translateX(76rem);
  }
  95%, 100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes left-to-right {
  0%, 10% {
    -webkit-transform: none;
            transform: none;
  }
  45%, 55% {
    -webkit-transform: translateX(76rem);
            transform: translateX(76rem);
  }
  95%, 100% {
    -webkit-transform: none;
            transform: none;
  }
}

.linear {
  -webkit-animation-timing-function: cubic-bezier(0,0,1,1);
          animation-timing-function: cubic-bezier(0,0,1,1);
}

.ease-in {
  -webkit-animation-timing-function: cubic-bezier(1,0,1,1);
          animation-timing-function: cubic-bezier(1,0,1,1);
}

.ease-out {
  -webkit-animation-timing-function: cubic-bezier(0,1,1,1);
          animation-timing-function: cubic-bezier(0,1,1,1);
}

.ease-in-out {
  -webkit-animation-timing-function: cubic-bezier(1,0,0,1);
          animation-timing-function: cubic-bezier(1,0,0,1);
}

.custom-1 {
  -webkit-animation-timing-function: cubic-bezier(0,.9,.5,1.4);
          animation-timing-function: cubic-bezier(0,.9,.5,1.4);
}

.custom-2 {
  -webkit-animation-timing-function: cubic-bezier(.3,1.5,.7,-0.5);
          animation-timing-function: cubic-bezier(.3,1.5,.7,-0.5);
}

h2, h3 {
  font-weight: normal;
  margin-top: 2rem;
  text-align: left;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}