.demo {
  width: 80rem;
}

.spacer {
  background: rgba(255,255,255,.1);
  border-radius: 1rem;
  color: #fff;
  font-size: 4rem;
  height: 90vh;
  line-height: 80vh;
  margin: 4rem 0;
  width: 100%;
}

button {
  background: #3991AE;
  border: 1px solid #fff;
  border-radius: 1rem;
  color: #fff;
  font-size: 4rem;
  padding: 2rem;
}

.animated {
  -webkit-animation: dance 1s cubic-bezier(0,.77,.53,1.31) infinite;
          animation: dance 1s cubic-bezier(0,.77,.53,1.31) infinite;
}

@-webkit-keyframes dance {
  0%, 10% {
    -webkit-transform: none;
            transform: none;
  }
  25% {
    -webkit-transform: rotateZ(-20deg);
            transform: rotateZ(-20deg);
  }
  50% {
    -webkit-transform: rotateZ(20deg);
            transform: rotateZ(20deg);
  }
  75% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  90%, 100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes dance {
  0%, 10% {
    -webkit-transform: none;
            transform: none;
  }
  25% {
    -webkit-transform: rotateZ(-20deg);
            transform: rotateZ(-20deg);
  }
  50% {
    -webkit-transform: rotateZ(20deg);
            transform: rotateZ(20deg);
  }
  75% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  90%, 100% {
    -webkit-transform: none;
            transform: none;
  }
}