.demo {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  background: #3991AE;
  color: #fff;
  font-size: 6rem;
  opacity: 0;
  padding: 2rem 4rem;
  text-align: center;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}