.demo {
  color: #fff;
  font-size: 6rem;
  overflow: hidden;
  padding: 2rem 4rem;
  position: relative;
  text-align: center;
}

.demo:before {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: show-background;
          animation-name: show-background;
  -webkit-animation-timing-function: cubic-bezier(0,.9,.3,1);
          animation-timing-function: cubic-bezier(0,.9,.3,1);
  background: #3991AE;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translate(-110%, 95%);
          transform: translate(-110%, 95%);
}

.demo span {
  display: inline-block;
  opacity: 0;
}

.text-part-1 {
  -webkit-animation: pop-in .5s 1.4s cubic-bezier(0,.81,.37,1.26) forwards;
          animation: pop-in .5s 1.4s cubic-bezier(0,.81,.37,1.26) forwards;
}

.text-part-2 {
  -webkit-animation: pop-in .6s 1.6s cubic-bezier(0,.81,.55,1.85) forwards;
          animation: pop-in .6s 1.6s cubic-bezier(0,.81,.55,1.85) forwards;
}

@-webkit-keyframes show-background {
  0% {
    -webkit-transform: translate(-110%, 95%);
            transform: translate(-110%, 95%);
  }
  50% {
    -webkit-transform: translate(0, 95%);
            transform: translate(0, 95%);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes show-background {
  0% {
    -webkit-transform: translate(-110%, 95%);
            transform: translate(-110%, 95%);
  }
  50% {
    -webkit-transform: translate(0, 95%);
            transform: translate(0, 95%);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(.5);
            transform: scale(.5);
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(.5);
            transform: scale(.5);
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
