.demo-input {
  background: #eee;
  border: 4px solid #aaa;
  font-size: 4rem;
  padding: 1rem;

}

.demo-input:focus {
  background: #fff;
  border: 4px solid #3991AE;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
